.box
  text-align: center

  &__wrap
    display: flex
    flex-direction: column
    align-items: center

  &__badge
    font-size: 16px
    text-transform: uppercase
    color: #f44336

    &.is-violet
      color: #8a4ff5

  &__img
    width: 170px

  &__price
    display: block
    font-size: 40px
    color: #ff7200

    &.is-old
      font-size: 24px
      color: #949494