.btn
  display: block
  text-align: center
  width: 260px
  height: 50px
  line-height: 50px
  font-size: 20px
  font-weight: 600
  background-color: #63c43a
  color: #ffffff
  white-space: nowrap
  overflow: hidden
  transition: all .3s ease-in-out
  &:hover
    background-color: #70cb48
  &:focus
    outline: none

  &.is-small
    font-size: 18px
    height: 44px
    line-height: 44px
    width: 160px

  &.is-medium
    width: 320px
    height: 52px
    line-height: 52px
    text-transform: uppercase

  &.is-large
    height: 56px
    line-height: 56px
    width: 340px