.general-banner
  padding: 70px 0
  background: url('../../media/main_bg.png') top center no-repeat

  &__wrap
    display: flex
    flex-direction: row

  &__left
    margin-right: 80px

  &__title
    font-size: 34px
    font-weight: 600

  &__name
    font-weight: 600

  &__buy
    display: flex
    flex-direction: row
    align-items: center

  &__price
    display: block
    font-size: 40px
    color: #ff7200

    &.is-old
      font-size: 24px
      color: #949494

  &__btn
    margin-right: 10px

  .list
    margin: 20px 0