.container
  position: relative
  width: 1010px
  margin: 0 auto
  box-sizing: border-box
.header
  position: relative
  background-color: #1565c0

  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 80px

.main
  flex: 0 0 auto
  position: relative

.footer
  padding-top: 20px
  padding-bottom: 35px
  background-color: #eeeeee

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center