.nav
  &__list
    display: flex
    flex-direction: row

  &__el
    position: relative
    padding-right: 19px

    &:after
      position: absolute
      top: 9px
      right: 8px
      content: ""
      width: 3px
      height: 3px
      border-radius: 50%
      background-color: #797979

    &:last-child
      &:after
        display: none

  &__link
    color: #797979

    &:hover
      text-decoration: underline