.requirement
  padding: 70px 0
  background: url('../../media/requirement_bg.png') top center no-repeat

  &__wrap
    display: flex
    flex-direction: column
    align-items: center

  &__system
    margin-top: 35px
    display: flex
    align-items: center

  .icon
    margin-right: 15px
    color: #22a2ff
    font-size: 35px